[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghp-import = "==0.5.5"
jupyter = "==1.0.0"
livereload = "==2.5.2"
nbconvert = "==5.3.1"
pandocfilters = "==1.4.2"
pelican = "==4.1.1"
Markdown = "==2.6.11"
tornado = "<6"
html5lib = "==1.0.1"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
