[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghp-import = "==0.5.4"
jupyter = "==1.0.0"
livereload = "==2.4.0"
nbconvert = "==5.0.0"
pandocfilters = "==1.4.1"
pelican = "==3.7.0"
Markdown = "==2.3.1"

[dev-packages]

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
